$feildset-backgroundcolor:#BDB7C5;


$legend-fontsize: 2vmax;
$legend-color:#7FFFD4; 
$legend-textshadow: 2px 2px 5px #ADFF2F;

$addbtn-color:white;
$addbtn-backgroundcolor:#FFA500;

$hidebtn-color:white;
$hidebtn-backgroundcolor:#7FFFD4;

$showbtn-color:white;
$showbtn-backgroundcolor:#00BFFF;

$infor-fontsize: 1.5vmax;
$infor-fontfamily: cursive;
$infor-color:#A9A9A9;

$input-fontsize: 1.5vmax;
$input-fontfamily: cursive;
$input-backgroundcolor:#F5F5F5;
$input-color:#A9A9A9;

$boder-radius: 5px;
$box-shadow:3px 3px 5px #FFC0CB;